// nextflow.config
params {
    input_dir = null
    output_dir = null
    sample_id = null
}

process {
    errorStrategy = 'retry'
    maxRetries = 3
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    // Add more profiles as needed
}