// nextflow.config
params {
    input_dir = null
    output_dir = null
    sample_id = null
    genome_size = null
    downsample_target_depth = 45
    read_quality = "--nano-hq"
    ecoli_ref = "${projectDir}/assets/reference/ecoli/GCF_000005845.2_ASM584v2_genomic.fna"
}

process {
    errorStrategy = 'retry'
    maxRetries = 3
}

// There is only this one image made right now and it doesn't natively run on Mac Metal
process {
    withName: PLANNOTATE_BATCH {
        container = 'ontresearch/plannotate:latest'
        containerOptions = '--platform=linux/amd64'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    // Add more profiles as needed
}